<div>
    <MudCard>
        <MudCardContent>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem>
                    <div style="position: relative; text-align: left">
                        <MudImage Src="@PlayerData.Profile.Avatar" Elevation="30" Class="rounded-lg"/>  
                        <div style="position: absolute; top: 0; left: 0;">
                            <MudImage Src="@_rankURL" Height="60"/>
                        </div>
                        <div style="position: absolute; top:0; left: 0;">
                            <MudImage Src="@_starsURL" Height="60"/>
                        </div>
                    </div>
                </MudItem>
                <MudItem>
                    <MudImage Src="@_flagURL"/>
                    <MudText>@PlayerData.Profile.Name</MudText>
                    <MudText>@PlayerData.MMREstimate.Estimate Estimated MMR</MudText>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</div>
@code {
    [Parameter]
    public Player PlayerData { get; set; }

    private string _flagURL;
    private string _rankURL;
    private string _starsURL;

    protected override void OnParametersSet()
    {
        _flagURL = "https://flagsapi.com/" + PlayerData.Profile.CountryCode + "/shiny/32.png";
        _rankURL = "https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_" + (int)PlayerData.MainRank + ".png";
        _starsURL = "https://www.opendota.com/assets/images/dota2/rank_icons/rank_star_" + PlayerData.RankStars + ".png";
        base.OnParametersSet();
    }

}